/****************************************
  Inherited Syles
*****************************************/
html {
  box-sizing: border-box;
  color: white;
  font-family: 'Quicksand', sans-serif; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Primary Layout
*****************************************/
html, body, #map {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #b3d1ff; }

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }

#mission-statement {
  min-height: 105vh;
  padding: 1px; }
  #mission-statement > div {
    max-width: 900px;
    margin: auto;
    margin-top: 8%;
    padding: 9px; }

.tiles > div {
  min-height: 105vh;
  padding: 1px; }

.primary-footer {
  min-height: 400px; }

/****************************************
Components
*****************************************/
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  margin: 0;
  border-radius: 2px 2px 0 0; }

#iw-container .iw-title {
  text-align: center;
  width: 215px; }

#iw-container p {
  margin: 0;
  padding: 6px 10px;
  color: #000; }

.gm-style-iw {
  width: 215px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 0 0; }

.lightbox {
  width: 600px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #79CD71;
  text-align: center;
  padding: 20px;
  border: 2px solid #f4eecb;
  border-radius: 10px; }
  .lightbox h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0; }
  .lightbox .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer; }
  .lightbox .buttons {
    text-align: center;
    margin-top: 90px; }
  .lightbox span.divider {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold; }

#signinButton, button {
  display: inline-block;
  padding: 13px;
  border: 3px solid #f4eecb;
  border-radius: 10px;
  background-color: #79CD71;
  font-weight: bold;
  width: 225px;
  cursor: pointer; }

.primary-button {
  position: absolute;
  left: 50%;
  top: 545px;
  transform: translateX(-50%);
  text-align: center; }

.primary-header {
  width: 100%;
  min-height: 50px;
  background-color: #5191FF;
  box-shadow: 0 0 10px -4px black;
  border-bottom: 3px solid #fff; }
  .primary-header .logo {
    display: inline-block;
    margin-top: 4px;
    margin-left: 4%;
    font-weight: bolder;
    font-size: 28px; }
  .primary-header nav {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 3%; }
  .primary-header a {
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; }

#contributions {
  margin-top: 50vh;
  margin-bottom: 38vh;
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #79CD71;
  text-shadow: 1px 1px 5px #969696;
  border: 2px solid #f4eecb; }
  #contributions span {
    font-weight: bold; }

#mission-statement {
  text-align: center;
  margin: auto;
  background-color: #5191FF;
  color: #fff;
  font-weight: 500; }
  #mission-statement h1 {
    font-size: 50px; }
  #mission-statement p {
    font-size: 20px;
    line-height: 30px; }
    #mission-statement p i {
      margin: 10px 0;
      font-size: 23px; }
  #mission-statement a > i {
    margin-top: 75px;
    font-size: 50px;
    width: 50px; }

.tiles {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #79CD71;
  color: #fff;
  font-weight: 500; }
  .tiles header {
    font-size: 50px;
    margin-top: 60px;
    padding: 0 10px; }
  .tiles h6 {
    font-size: 19px;
    margin: 30px 0 55px 0;
    padding: 0 10px; }
  .tiles .icon {
    color: #F5E794;
    text-decoration: none; }
  .tiles i {
    font-size: 23px;
    color: #F5E794; }

.tile {
  display: inline-block;
  width: 260px;
  margin: 25px 23px 25px 23px; }
  .tile h3 {
    font-size: 22px;
    font-weight: 700; }
  .tile p {
    margin: 0;
    font-size: 18px; }
  .tile i {
    color: #F5E794;
    font-size: 90px;
    text-shadow: 1px 1px 5px #969696; }

.primary-footer {
  text-align: center;
  background-color: #5191FF;
  padding: 1px; }
  .primary-footer h1 {
    margin: 90px 0 25px 0;
    font-size: 55px;
    font-weight: bold; }
  .primary-footer button {
    border-color: #fff;
    background-color: transparent; }
