/****************************************
  Vars
*****************************************/
/****************************************
  Inherited Syles
*****************************************/
html {
  box-sizing: border-box;
  color: white;
  font-family: 'Quicksand', sans-serif; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Primary Layout
*****************************************/
html, body, #map {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #5191FF; }

main {
  margin-top: 50px; }

#mission-statement {
  min-height: 105vh;
  padding: 1px; }
  #mission-statement > div {
    max-width: 900px;
    margin: auto;
    margin-top: 8%;
    padding: 9px; }

.tiles > div {
  min-height: 105vh;
  padding: 1px; }

.primary-footer {
  min-height: 400px; }

/****************************************
Components
*****************************************/
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  margin: 0;
  border-radius: 2px 2px 0 0; }

#iw-container .iw-title {
  text-align: center;
  width: 215px; }

#iw-container p {
  margin: 0;
  padding: 6px 10px;
  color: #000; }

.gm-style-iw {
  width: 215px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 0 0; }

.lightbox {
  width: 600px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #79CD71;
  text-align: center;
  padding: 20px;
  border: 2px solid #f4eecb;
  border-radius: 10px; }
  .lightbox h1 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 0; }
  .lightbox .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer; }
  .lightbox .buttons {
    text-align: center;
    margin-top: 90px; }
  .lightbox span.divider {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold; }

footer span, button, .show-more, .btn, #signinButton {
  display: inline-block;
  padding: 13px;
  border: 3px solid #f4eecb;
  border-radius: 10px;
  background-color: #79CD71;
  font-weight: bold;
  width: 225px;
  cursor: pointer; }
  footer span a, button a, .show-more a, .btn a, #signinButton a {
    text-decoration: none; }

.g-signin {
  cursor: pointer; }

.show-more {
  position: absolute;
  left: 50%;
  top: 545px;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none; }

.primary-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  background-color: #5191FF;
  box-shadow: 0 0 10px -4px black;
  border-bottom: 3px solid #fff; }
  .primary-header .logo {
    margin-left: 4%;
    font-weight: bolder;
    font-size: 28px; }
  .primary-header #loggedInUser {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px; }
    .primary-header #loggedInUser .user {
      border-bottom: 2px solid #fff;
      padding: 0;
      padding-bottom: 2px; }
  .primary-header nav {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 3%; }
  .primary-header a {
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; }

#contributions {
  position: absolute;
  top: 365px;
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #79CD71;
  text-shadow: 1px 1px 5px #969696;
  border: 2px solid #f4eecb;
  border-right: none;
  border-left: none; }
  #contributions span {
    font-weight: bold; }

.cover {
  position: absolute;
  top: 50px;
  background: radial-gradient(rgba(0, 142, 168, 0), rgba(81, 145, 255, 0.4));
  height: 100vh;
  width: 100%; }

#geocoding_form, #why {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  z-index: 1; }

.btn {
  font-size: 20px;
  color: #fff; }

form label {
  font-family: Roboto;
  font-size: 60px; }

#address, #this_is_why {
  display: block;
  box-sizing: border-box;
  width: 570px;
  height: 32px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis; }
  #address:focus, #this_is_why:focus {
    border-color: #4d90fe; }

#mission-statement {
  text-align: center;
  margin: auto;
  background-color: #5191FF;
  color: #fff;
  font-weight: 500; }
  #mission-statement h1 {
    font-size: 50px; }
  #mission-statement p {
    font-size: 20px;
    line-height: 30px; }
    #mission-statement p i {
      margin: 10px 0;
      font-size: 23px; }
  #mission-statement a > i {
    margin-top: 75px;
    font-size: 50px;
    width: 50px; }

.tiles {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #79CD71;
  color: #fff;
  font-weight: 500; }
  .tiles header {
    font-size: 50px;
    margin-top: 60px;
    padding: 0 10px; }
  .tiles h6 {
    font-size: 19px;
    margin: 30px 0 55px 0;
    padding: 0 10px; }
  .tiles .icon {
    color: #F5E794;
    text-decoration: none; }
  .tiles i {
    font-size: 23px;
    color: #F5E794; }

.tile {
  display: inline-block;
  width: 260px;
  margin: 25px 23px 25px 23px; }
  .tile h3 {
    font-size: 22px;
    font-weight: 700; }
  .tile p {
    margin: 0;
    font-size: 18px; }
  .tile i {
    color: #F5E794;
    font-size: 90px;
    text-shadow: 1px 1px 5px #969696; }

.primary-footer {
  text-align: center;
  background-color: #5191FF;
  padding: 1px; }
  .primary-footer h1 {
    margin: 90px 0 25px 0;
    font-size: 55px;
    font-weight: bold; }
  .primary-footer span {
    border-color: #fff;
    background-color: transparent; }

#userProfile > div {
  max-width: 960px;
  margin: auto;
  display: flex;
  min-height: 660px; }

aside, section {
  margin-top: 20px; }

aside {
  flex: 1; }
  aside > div:first-child {
    min-height: 500px;
    width: 100%;
    background-color: pink; }
  aside > div:last-child {
    min-height: 160px;
    width: 100%;
    margin-top: 20px;
    background-color: orange; }

aside .user-image {
  height: 250px;
  width: 100%;
  background-color: green; }

section {
  flex: 2;
  margin-left: 25px; }
  section > div:first-child {
    min-height: 250px;
    width: 100%;
    background-color: red; }
  section > div:last-child {
    min-height: 410px;
    width: 100%;
    margin-top: 15px;
    background-color: black; }

#payment {
  background-color: #79CD71;
  width: 530px;
  height: 430px;
  padding: 1px 35px 0 35px; }
  #payment h1, #payment h2 {
    font-size: 25px; }
  #payment h1 {
    padding: 0 10px 0 15px; }
  #payment i {
    margin-right: 10px; }
  #payment h2 {
    margin: 0;
    height: 60px;
    padding-top: 15px;
    border-bottom: 2px solid #f4eecb; }
  #payment label {
    font-size: 16px; }
  #payment input {
    border-radius: 6px;
    margin-top: 3px; }
  #payment span {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
    padding-top: 8px;
    border: 2px solid #f4eecb;
    border-radius: 6px; }

.card-image {
  background-color: grey;
  padding: 1px 10px 15px 10px;
  margin-top: 5px;
  border: 2px solid #f4eecb;
  border-radius: 8px; }
  .card-image .fa-cc-mastercard {
    margin-left: 60px; }

.card-image .container {
  display: flex;
  margin: 10px 0 15px 0;
  padding-bottom: 15px;
  border-bottom: 2px solid #f4eecb; }
  .card-image .container div input, .card-image .container label {
    width: 100%; }
  .card-image .container div:first-child {
    flex: 7;
    margin-right: 14px; }
  .card-image .container div:last-child {
    flex: 2; }

.card-image div:last-child {
  position: relative; }
  .card-image div:last-child label {
    display: block; }
  .card-image div:last-child input[name="expire-data"] {
    width: 110px; }
  .card-image div:last-child p {
    position: absolute;
    right: 10px;
    bottom: -8px;
    margin: 0; }
  .card-image div:last-child i {
    font-size: 48px;
    margin-left: 10px; }
