/****************************************
  Vars
*****************************************/
/****************************************
  Inherited Syles
*****************************************/
html {
  box-sizing: border-box;
  color: white;
  font-family: 'Quicksand', sans-serif; }

*, *::before, *::after {
  box-sizing: inherit;
  color: inherit;
  font: inherit; }

/****************************************
  Primary Layout
*****************************************/
html, body, #map {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #5191FF; }

main {
  margin-top: 50px;
  overflow: hidden; }

#mission-statement {
  min-height: 100vh;
  padding: 1px; }
  #mission-statement > div {
    max-width: 900px;
    margin: auto;
    margin-top: 8%;
    padding: 9px; }

.tiles > div {
  min-height: 105vh;
  padding: 1px; }

.primary-footer {
  min-height: 400px; }

/****************************************
Components
*****************************************/
#iw-container .iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #5191FF;
  margin: 0;
  border-radius: 2px 2px 0 0; }

#iw-container .iw-title {
  text-align: center;
  width: 215px; }

#iw-container p {
  margin: 0;
  padding: 6px 10px;
  color: #000; }

.true {
  background-color: #79CD71 !important; }

.gm-style-iw {
  width: 215px !important;
  top: 0 !important;
  left: 0 !important;
  background-color: #fff;
  box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
  border: 1px solid rgba(72, 181, 233, 0.6);
  border-radius: 2px 2px 0 0; }

.lightbox, #payment {
  width: 600px;
  height: 185px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #79CD71;
  text-align: center;
  padding: 20px;
  border: 2px solid #f4eecb;
  border-radius: 10px; }
  .lightbox h1, #payment h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 0; }
  .lightbox .buttons, #payment .buttons {
    text-align: center;
    margin-top: 30px; }
  .lightbox span.divider, #payment span.divider {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    font-weight: bold; }

footer span, button, .show-more, .btn, #signinButton {
  display: inline-block;
  padding: 13px;
  border: 3px solid #f4eecb;
  border-radius: 10px;
  background-color: #79CD71;
  font-weight: bold;
  width: 225px;
  cursor: pointer; }
  footer span a, button a, .show-more a, .btn a, #signinButton a {
    text-decoration: none; }

.show-more {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  text-align: center;
  text-decoration: none; }

.primary-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 50px;
  background-color: #5191FF;
  box-shadow: 0 0 10px -4px black;
  border-bottom: 3px solid #fff; }
  .primary-header .logo {
    margin-left: 4%;
    font-weight: bolder;
    font-size: 28px; }
  .primary-header #loggedInUser {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;
    font-size: 20px; }
    .primary-header #loggedInUser .user {
      border-bottom: 2px solid #fff;
      padding: 0;
      padding-bottom: 2px; }
  .primary-header nav {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 3%; }
  .primary-header a {
    padding: 14px;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; }

.viewport-container {
  position: absolute;
  width: 100%;
  top: 50%; }

#contributions {
  width: 100%;
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: rgba(121, 205, 113, 0.75);
  text-shadow: 1px 1px 5px #969696;
  border: 2px solid #f4eecb;
  border-right: none;
  border-left: none;
  min-height: 110px;
  padding-top: 16px; }
  #contributions span {
    font-weight: bold; }
  #contributions .search-button {
    font-size: 20px;
    display: inline-block;
    width: 300px;
    padding-bottom: 6px;
    background-color: #5191FF;
    margin-left: 35px; }
    #contributions .search-button h1 {
      font-weight: bold;
      font-family: 'Quicksand', sans-serif;
      margin: 5px 0 6px 0; }
    #contributions .search-button #signinButton {
      padding: initial; }

#winner {
  width: 100%;
  background-color: rgba(121, 205, 113, 0.75);
  height: 110px;
  border: 2px solid;
  border-right: none;
  border-left: none; }

#winner > div {
  width: 960px;
  display: flex;
  font-size: 20px;
  margin: auto; }
  #winner > div h1, #winner > div h2, #winner > div h3, #winner > div p {
    margin: 0; }
  #winner > div img {
    position: absolute;
    left: -60px;
    border-radius: 30%; }
  #winner > div h1 {
    position: relative;
    display: inline-block;
    font-size: 35px;
    margin-top: 23px;
    font-weight: bold;
    margin-right: 20px; }
  #winner > div h2 {
    font-size: 25px;
    font-weight: bold;
    margin-right: 20px; }
  #winner > div h3 {
    margin-top: 10px;
    font-size: 17px; }
  #winner > div p {
    margin-top: 5px;
    font-weight: bold; }
  #winner > div span {
    font-weight: initial;
    display: inline-block;
    margin-bottom: 10px;
    font-size: 17px; }
  #winner > div div:first-child {
    flex: 2;
    text-align: center; }
  #winner > div div:last-child {
    text-align: center;
    flex: 3; }

.cover {
  position: absolute;
  top: 50px;
  background: linear-gradient(transparent, rgba(81, 145, 255, 0.5));
  height: 100vh;
  width: 100%; }

#geocoding_form, #why {
  position: absolute;
  text-align: center;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
  z-index: 1; }

.btn {
  font-size: 20px;
  color: #fff; }

label[for=address], label[for=why] {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  text-shadow: 3px 3px 5px #969696; }
  label[for=address] h1, label[for=why] h1 {
    margin: 0; }

#address, #this_is_why {
  box-sizing: border-box;
  width: 570px;
  height: 32px;
  margin-top: 10px;
  padding: 0 11px 0 13px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  color: black;
  font-weight: bold; }
  #address:focus, #this_is_why:focus {
    border-color: #4d90fe; }

#mission-statement {
  text-align: center;
  margin: auto;
  background-color: #5191FF;
  color: #fff;
  font-weight: 500; }
  #mission-statement h1 {
    font-size: 50px; }
  #mission-statement p {
    font-size: 20px;
    line-height: 30px; }
    #mission-statement p i {
      margin: 10px 0;
      font-size: 23px; }
  #mission-statement a > i {
    margin-top: 75px;
    font-size: 50px;
    width: 50px; }

.tiles {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: #79CD71;
  color: #fff;
  font-weight: 500; }
  .tiles header {
    font-size: 50px;
    margin-top: 60px;
    padding: 0 10px; }
  .tiles h6 {
    font-size: 19px;
    margin: 30px 0 55px 0;
    padding: 0 10px; }
  .tiles .icon {
    color: #F5E794;
    text-decoration: none; }
  .tiles i {
    font-size: 23px;
    color: #F5E794; }

.tile {
  display: inline-block;
  width: 260px;
  margin: 25px 23px 25px 23px; }
  .tile h3 {
    font-size: 22px;
    font-weight: 700; }
  .tile p {
    margin: 0;
    font-size: 18px; }
  .tile i {
    color: #F5E794;
    font-size: 90px;
    text-shadow: 1px 1px 5px #969696; }

.primary-footer {
  text-align: center;
  background-color: #5191FF;
  padding: 1px; }
  .primary-footer h1 {
    margin: 90px 0 25px 0;
    font-size: 55px;
    font-weight: bold; }
  .primary-footer span {
    border-color: #fff;
    background-color: transparent; }

#userProfile > div {
  max-width: 960px;
  margin: auto;
  display: flex; }

aside, section {
  margin-top: 20px; }

aside {
  flex: 1;
  background-color: #79CD71; }
  aside > div {
    width: 100%;
    text-align: center; }
  aside img {
    margin-top: 20px;
    border-radius: 30%; }
  aside h1 {
    font-size: 25px;
    margin: 5px 0 0 0; }

aside .user-image {
  height: 135px;
  width: 100%; }

section {
  background-color: blue;
  flex: 2;
  margin-left: 25px;
  padding: 0 25px 0 25px; }
  section > div {
    min-height: 250px;
    width: 100%; }
  section h1 {
    font-size: 30px;
    margin: 10px 0 0 0; }
  section h2, section p {
    font-size: 20px;
    margin: 10px 0 0 0; }

#payment {
  background-color: #79CD71;
  height: 430px;
  padding: 1px 25px 0 25px;
  display: flex;
  overflow: hidden;
  color: #5b5b5b; }
  #payment .amount {
    flex: 1;
    margin-right: 25px;
    background-color: #5191FF;
    padding-top: 162px; }
    #payment .amount h1 {
      margin-top: 45px; }
  #payment form {
    margin-top: 15px;
    flex: 5; }
  #payment h1, #payment h2 {
    font-size: 25px; }
  #payment h1 {
    padding: 0 10px 0 15px;
    margin: 10px 0 20px 0; }
  #payment i {
    margin-right: 10px; }
  #payment h2 {
    margin: 0;
    height: 70px;
    padding: 23px 10px 0 10px;
    border-bottom: 2px solid #fbfbfb;
    background: linear-gradient(#efefef, #E2E2E2);
    font-weight: bold; }
  #payment label {
    font-size: 16px; }
  #payment input {
    border-radius: 6px;
    margin-top: 3px; }
  #payment span {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    height: 45px;
    margin-top: 20px;
    font-size: 20px;
    padding-top: 8px;
    border: 2px solid #d0d0d0;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background: linear-gradient(#efefef, #E2E2E2); }

.card-image {
  margin-top: 20px;
  border: 1px solid #d0d0d0;
  border-radius: 8px;
  text-align: left;
  overflow: hidden; }
  .card-image .fa-cc-mastercard {
    margin-left: 60px; }

.card-image .container {
  display: flex;
  padding: 10px 10px 10px 10px;
  border-bottom: 2px solid #fbfbfb;
  background: linear-gradient(#efefef, #E2E2E2); }
  .card-image .container div input, .card-image .container label {
    width: 100%; }
  .card-image .container div:first-child {
    flex: 6;
    margin-right: 14px; }
  .card-image .container div:last-child {
    flex: 2;
    padding: 0;
    background-color: initial; }

.card-image div:last-child {
  position: relative;
  padding: 10px 10px 15px 10px;
  background: linear-gradient(#efefef, #E2E2E2); }
  .card-image div:last-child label {
    display: block; }
  .card-image div:last-child input[name="expire-data"] {
    width: 110px; }
  .card-image div:last-child p {
    position: absolute;
    right: 10px;
    bottom: 13px;
    margin: 0; }
  .card-image div:last-child i {
    font-size: 48px;
    margin-left: 10px; }
