/****************************************
  Vars
*****************************************/

$header-height: 50px;

/****************************************
  Inherited Syles
*****************************************/

html {
    box-sizing: border-box;
    color: white;
	font-family: 'Quicksand', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Primary Layout
*****************************************/

html, body, #map {
	height: 100vh;
	// width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #5191FF; 
}

main {
	margin-top: $header-height;
	overflow: hidden;
}

#mission-statement {
	min-height: 100vh;
	padding: 1px;

	> div {
		max-width: 900px;
		margin: auto;
		margin-top: 8%;
		padding: 9px;
	}
}

.tiles > div{
	min-height: 105vh;
	padding: 1px;
}

.primary-footer {
	min-height: 400px;
}
/****************************************
Components
*****************************************/

#iw-container  .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #5191FF;
	margin: 0;
	border-radius: 2px 2px 0 0;

}

#iw-container {
	.iw-title {
		text-align: center;
		width: 215px;
	}

	p {
		margin: 0;
		padding: 6px 10px;
		color: #000;
	}
}

.true {
	background-color:  #79CD71 !important;
}

.gm-style-iw {
	width: 215px !important;
	top: 0 !important;
	left: 0 !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 0 0;
}

.lightbox, #payment {
	width: 600px;
	height: 185px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	background-color: #79CD71;
	text-align: center;
	padding: 20px;
	border: 2px solid #f4eecb;	
	border-radius: 10px;

	h1 {
		font-size: 40px;
		font-weight: bold;
		margin: 0;
	}

	// .close {
	// 	position: absolute;
	// 	top: 10px;
	// 	right: 10px;
	// 	font-weight: bold;
	// 	cursor: pointer;
	// }

	.buttons {
		text-align: center;
		margin-top: 30px;
	}

	span.divider {
		display: inline-block;
		margin: 0 10px;
		font-size: 24px;
		font-weight: bold;
	}

}

footer span, button, .show-more, .btn, #signinButton {
	display: inline-block;
	padding: 13px;
	border: 3px solid #f4eecb;
	border-radius: 10px;
	background-color: #79CD71;;
	font-weight: bold;
	width: 225px;
	cursor: pointer;
	
	a {
		text-decoration: none;
	}
}

.show-more {
	position: absolute;
	left: 50%;
	top: 70%;
	transform: translateX(-50%);
	text-align: center;
	text-decoration: none;
}

.primary-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	height: $header-height;
	background-color: #5191FF;
	box-shadow: 0 0 10px -4px black;
	border-bottom: 3px solid #fff;

	.logo {
		margin-left: 4%;
		font-weight: bolder;
		font-size: 28px;
	}

	#loggedInUser {
		display: inline-block;
		margin-left: 20px;
		font-weight: bold;
		font-size: 20px;

		.user {
			border-bottom: 2px solid #fff;
			padding: 0;
			padding-bottom: 2px;
		}
	}

	nav {
		display: inline-block;
		// margin-left: 30%;
		position: absolute;
		top: 10px;
		right: 3%;
	}

	a {
		padding: 14px;
		font-size: 20px;
		text-decoration: none;
		font-weight: bold;
	}
}


#contributions {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	font-size: 60px;
	color: white;
	background-color: rgba(121, 205, 113, 0.75);
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	border: 2px solid #f4eecb;
	border-right: none;
	border-left: none;
	min-height: 110px;
	padding-top: 16px;

	span {
		font-weight: bold;
	}

	.search-button {
		font-size: 20px;
		display: inline-block;
		width: 300px;
		padding-bottom: 6px;
		background-color: #5191FF;
		margin-left: 35px;

		h1 {
			font-weight: bold;
			font-family: 'Quicksand', sans-serif;
			margin: 5px 0 6px 0;
		}

		#signinButton {
			padding: initial;
		}
	}

}

#winner {
	position: absolute;
	top: 50%;
	width: 100%;
	background-color: rgba(121, 205, 113, 0.75);
	height: 110px;
	border: 2px solid;
	border-right: none;
	border-left: none;
}

#winner > div {
	width: 960px;
	display: flex;
	font-size: 20px;
	margin: auto;
	h1, h2, h3, p {
		margin: 0;
	}

	img {
		position: absolute;
		left: -60px;
		border-radius: 30%;
	}

	h1 {
		position: relative;
		display: inline-block;
		font-size: 35px;
		margin-top: 23px;
		font-weight: bold;
		margin-right: 20px;
	}

	h2 {
		font-size: 25px;
		font-weight: bold;
		margin-right: 20px;
	}

	h3 {
		margin-top: 10px;
		font-size: 17px;
	}

	p {
		margin-top: 5px;
		font-weight: bold;
	}

	span {
		font-weight: initial;
		display: inline-block;
		margin-bottom: 10px;
		font-size: 17px;
	}
	div:first-child {
		// background-color: red;
		flex: 2;
		text-align: center;
	}
	div:last-child {
		// background-color: blue;
		text-align: center;
		flex: 3;
	}
}

.cover {
	position: absolute;
	top: $header-height;
	background: linear-gradient(transparent, rgba(81, 145, 255, 0.50));
	height: 100vh;
	width: 100%;
}


#geocoding_form, #why {
	position: absolute;
	text-align: center;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	color: black;
	z-index: 1;
}

.btn {
	font-size: 20px;
	color: #fff;
}

label[for=address], label[for=why] {
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-shadow: 3px 3px 5px rgba(150, 150, 150, 1);
	h1 {
		margin: 0;
	}
}

#address, #this_is_why {
	// display: block;
	box-sizing: border-box;
	width: 570px;
	height: 32px;
	margin-top: 10px;
	padding: 0 11px 0 13px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	// font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
	color: black;
	font-weight: bold;

	&:focus {
		border-color: #4d90fe;
	}
}

#mission-statement {
	text-align: center;
	margin: auto;
	background-color: #5191FF;
	color: #fff;
	font-weight: 500;

	h1 {
		font-size: 50px;
	}

	p {
		font-size: 20px;
		line-height: 30px;
		i {
			margin: 10px 0;
			font-size: 23px;
		}
	}

	a > i {
		margin-top: 75px;
		font-size: 50px;
		width: 50px;
	}
}

.tiles {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	background-color: #79CD71;
	color: #fff;
	font-weight: 500;

	header{
		font-size: 50px;
		margin-top: 60px;
		padding: 0 10px;
	}
	h6 {
		font-size: 19px;
		margin: 30px 0 55px 0;
		padding: 0 10px;
	}

	.icon {
		color: #F5E794;
		text-decoration: none;
	}

	i {
		font-size: 23px;
		color: #F5E794;
	}

}

.tile {
	display: inline-block;
	width: 260px;
	margin: 25px 23px 25px 23px;

	h3 {
		font-size: 22px;
		font-weight: 700;
	}

	p {
		margin: 0;
		font-size: 18px;
	}

	i {
		color: #F5E794;
		font-size: 90px;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}
}

.primary-footer {
	text-align: center;
	background-color: #5191FF;
	padding: 1px;

	h1 {
		margin: 90px 0 25px 0;
		font-size: 55px;
		font-weight: bold;
	}

	span {
		border-color: #fff;
		background-color: transparent;
	}
}

#userProfile > div {
	max-width: 960px;
	margin: auto;
	display: flex;
}

aside, section {
	margin-top: 20px;
}

aside {
	flex: 1;
	background-color: #79CD71;

	> div {
		width: 100%;
		text-align: center;
	}

	img {
		margin-top: 20px;
		border-radius: 30%;
	}

	h1 {
		font-size: 25px;
		margin: 5px 0 0 0;
	}
}

aside {
	.user-image {
		height: 135px;
		width: 100%;
	}
}

section {
	background-color: blue;
	flex: 2;
	margin-left: 25px;
	padding: 0 25px 0 25px;

	> div {
		min-height: 250px;
		width: 100%;
	}

	h1 {
		font-size: 30px;
		margin: 10px 0 0 0;
	}

	h2, p {
		font-size: 20px;
		margin: 10px 0 0 0;
	}
}

#payment {
	background-color: #79CD71;
	// width: 530px;
	height: 430px;
	padding: 1px 25px 0 25px;
	display: flex;
	overflow: hidden;
	color: rgb(91, 91, 91);
	
	.amount {
		flex: 1;
		margin-right: 25px;
		background-color: #5191FF;
		padding-top: 162px;

		h1 {
			margin-top: 45px;
		}
	}

	form {
		margin-top: 15px;
		flex: 5;
	}

	h1, h2 {
		font-size: 25px;
		// background-color: pink;
	}
	h1 {
		padding: 0 10px 0 15px;
		margin: 10px 0 20px 0;
	}
	i {
		margin-right: 10px;
	}
	h2 {
		margin: 0;
		height: 70px;
		padding: 23px 10px 0 10px;
		border-bottom: 2px solid #fbfbfb;
		background: linear-gradient(#efefef, #E2E2E2);
		font-weight: bold;
	}

	label {
		font-size: 16px;
		// background-color: lime;
	}
	input {
		border-radius: 6px;
		margin-top: 3px;
		// color: black;
	}
	span {
		// background-color: pink;
		display: block;
		margin: auto;
		width: 80%;
		text-align: center;
		height: 45px;
		margin-top: 20px;
		font-size: 20px;
		padding-top: 8px;
		border: 2px solid #d0d0d0;
		border-radius: 6px;
		cursor: pointer;
		font-weight: bold;
		background: linear-gradient(#efefef, #E2E2E2);
	}
}

.card-image {
	// background-color: grey;
	margin-top: 20px;
	border: 1px solid rgb(208, 208, 208);
	border-radius: 8px;
	text-align: left;
	overflow: hidden;

	.fa-cc-mastercard {
		margin-left: 60px;
	}
}

.card-image .container{
	display: flex;
	padding: 10px 10px 10px 10px;
	border-bottom: 2px solid #fbfbfb;
	background: linear-gradient(#efefef, #E2E2E2);
	
	div input, label {
		width: 100%;
	}

	div:first-child {
		flex: 6;
		margin-right: 14px;
	}
	div:last-child {
		flex: 2;
		padding: 0;
		background-color: initial;
	}

}

.card-image div:last-child {
	position: relative;
	padding: 10px 10px 15px 10px;
	background: linear-gradient(#efefef, #E2E2E2);
	label {
		display: block;
	}
	input[name="expire-data"] {
		width: 110px;
	}

	p {
		position: absolute;
		right: 10px;
		bottom: 13px;
		margin: 0;
	}

	i {
		font-size: 48px;
		margin-left: 10px;
	}

}