/****************************************
  Inherited Syles
*****************************************/

html {
    box-sizing: border-box;
    color: white;
    // font-weight: 300;
	font-family: 'Quicksand', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}

/****************************************
  Defaults
*****************************************/



/****************************************
  Primary Layout
*****************************************/

html, body, #map {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #b3d1ff; 
}

// #map {
// 	margin-top: 20px;
// 	margin-left: 20px;
// 	margin-right: 20px;
// }

#primary-message, .tiles {
	// background-color: red;
	height: 100vh;
	padding: 1px;
}

#primary-message > div {
	width: 900px;
	margin: auto;
	margin-top: 175px;
}

.platforms > div {
	height: 400px;
	margin: auto;
	width: 960px;

	i {
		margin-top: 140px;
	}
}

footer {
	height: 500px;
}
/****************************************
Components
*****************************************/

#contributions {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	width: 100%;
	font-size: 60px;
	color: white;
	background-color: #DFE9C9;
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	border: 2px solid #b7d7b4;;

	span {
		font-weight: bold;
	}

}

// #geocoding_form, #why, #signinButton, .show-more {
// 	position: absolute;
// 	text-align: center;
// 	top: 70%;
// 	left: 50%;
// 	transform: translateX(-50%);
// }

// .show-more {
// 	top: 90%;
// }

// form label {
// 	font-family: Roboto;
// 	font-size: 25px;
// }

// #address, #this_is_why, #signinButton {
// 	display: block;
// 	box-sizing: border-box;
// 	width: 400px;
// 	height: 32px;
// 	margin-top: 10px;
// 	padding: 0 11px 0 13px;
// 	border: 1px solid transparent;
// 	border-radius: 2px 0 0 2px;
// 	-moz-box-sizing: border-box;
// 	outline: none;
// 	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	// background-color: #fff;
// 	font-family: Roboto;
// 	font-size: 15px;
// 	font-weight: 300;
// 	text-overflow: ellipsis;

// 	&:focus {
// 		border-color: #4d90fe;
// 	}
// }

#primary-message {
	text-align: center;
	margin: auto;
	background-color: #b3d1ff;
	color: #fff;

	h1 {
		font-size: 50px;
	}

	p {
		font-size: 20px;
		line-height: 30px;
		i {
			margin: 10px 0;
			font-size: 23px;
		}
	}

	a > i {
		margin-top: 75px;
		font-size: 50px;
		width: 50px;
	}
}

.tiles {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	background-color: #DFE9C9;
	color: #fff;

	header{
		margin-top: 80px;
		font-size: 50px;
	}
	h6 {
		font-size: 19px;
		margin: 30px 0 55px 0;
	}

	.icon {
		color: #C0E0BB;
		text-decoration: none;
	}

	i {
		font-size: 23;
		color: #f8f3da;
	}

}

.tile {
	display: inline-block;
	width: 260px;
	margin-left: 45px;

	h3 {
		font-size: 22px;
		font-weight: 700;
	}

	p {
		margin: 0;
		font-size: 18px;
	}

	i {
		color: #f4eecb;
		font-size: 90px;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}
}

footer {
	text-align: center;
	background-color: #b3d1ff;

	> div {
	padding: 1px;
	}

	h1 {
		margin: 130px 0 0 0;
		font-size: 55px;
		font-weight: bold;
	}

	button {
		margin-top: 60px;
		padding: 13px;
		border: 3px solid #fff;
		border-radius: 10px;
		background-color: transparent;
		font-weight: bold;
	}
}