/****************************************
  Vars
*****************************************/

$header-height: 50px;

/****************************************
  Inherited Syles
*****************************************/

html {
    box-sizing: border-box;
    color: white;
	font-family: 'Quicksand', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    color: inherit;
    font: inherit;
}


/****************************************
  Primary Layout
*****************************************/

html, body, #map {
	height: 100vh;
	// width: 100vw;
	margin: 0;
	padding: 0;
	background-color: #5191FF; 
}

main {
	margin-top: $header-height
}

#mission-statement {
	min-height: 105vh;
	padding: 1px;

	> div {
		max-width: 900px;
		margin: auto;
		margin-top: 8%;
		padding: 9px;
	}
}

.tiles > div{
	min-height: 105vh;
	padding: 1px;
}

.primary-footer {
	min-height: 400px;
}
/****************************************
Components
*****************************************/

#iw-container  .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	margin: 0;
	border-radius: 2px 2px 0 0;
}

#iw-container {
	.iw-title {
		text-align: center;
		width: 215px;
	}

	p {
		margin: 0;
		padding: 6px 10px;
		color: #000;
	}
}


.gm-style-iw {
	width: 215px !important;
	top: 0 !important;
	left: 0 !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 0 0;
}

.lightbox {
	width: 600px;
	height: 400px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	background-color: #79CD71;
	text-align: center;
	padding: 20px;
	border: 2px solid #f4eecb;	
	border-radius: 10px;

	h1 {
		font-size: 40px;
		font-weight: bold;
		margin-top: 0;
	}

	.close {
		position: absolute;
		top: 10px;
		right: 10px;
		font-weight: bold;
		cursor: pointer;
	}

	.buttons {
		text-align: center;
		margin-top: 90px;
	}

	span.divider {
		display: inline-block;
		margin: 0 10px;
		font-size: 24px;
		font-weight: bold;
	}

}

footer span, button, .show-more {
	display: inline-block;
	padding: 13px;
	border: 3px solid #f4eecb;
	border-radius: 10px;
	background-color: #79CD71;;
	font-weight: bold;
	width: 225px;
	cursor: pointer;
}

.g-signin {
	cursor: pointer;
}


.show-more {
	position: absolute;
	left: 50%;
	top: 545px;
	transform: translateX(-50%);
	text-align: center;
	text-decoration: none;
}

.primary-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	height: $header-height;
	background-color: #5191FF;
	box-shadow: 0 0 10px -4px black;
	border-bottom: 3px solid #fff;

	.logo {
		margin-left: 4%;
		font-weight: bolder;
		font-size: 28px;
	}

	#loggedInUser {
		display: inline-block;
		margin-left: 20px;
		font-weight: bold;
		font-size: 20px;

		.user {
			border-bottom: 2px solid #fff;
			padding: 0;
			padding-bottom: 2px;
		}
	}

	nav {
		display: inline-block;
		// margin-left: 30%;
		position: absolute;
		top: 10px;
		right: 3%;
	}

	a {
		padding: 14px;
		font-size: 20px;
		text-decoration: none;
		font-weight: bold;
	}
}

#contributions {
	position: absolute;
	top: 365px;
	width: 100%;
	text-align: center;
	font-size: 60px;
	color: white;
	background-color: #79CD71;;
	text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	border: 2px solid #f4eecb;
	border-right: none;
	border-left: none;

	span {
		font-weight: bold;
	}

}


#geocoding_form, #why/* , #signinButton */ {
	position: absolute;
	text-align: center;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	color: black;
}

// .show-more {
// 	top: 90%;
// }

form label {
	font-family: Roboto;
	font-size: 25px;
}

#address, #this_is_why/* , #signinButton */ {
	display: block;
	box-sizing: border-box;
	width: 400px;
	height: 32px;
	margin-top: 10px;
	padding: 0 11px 0 13px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	-moz-box-sizing: border-box;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	background-color: #fff;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;

	&:focus {
		border-color: #4d90fe;
	}
}

#mission-statement {
	text-align: center;
	margin: auto;
	background-color: #5191FF;
	color: #fff;
	font-weight: 500;

	h1 {
		font-size: 50px;
	}

	p {
		font-size: 20px;
		line-height: 30px;
		i {
			margin: 10px 0;
			font-size: 23px;
		}
	}

	a > i {
		margin-top: 75px;
		font-size: 50px;
		width: 50px;
	}
}

.tiles {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	background-color: #79CD71;;
	color: #fff;
	font-weight: 500;

	header{
		font-size: 50px;
		margin-top: 60px;
		padding: 0 10px;
	}
	h6 {
		font-size: 19px;
		margin: 30px 0 55px 0;
		padding: 0 10px;
	}

	.icon {
		color: #F5E794;
		text-decoration: none;
	}

	i {
		font-size: 23px;
		color: #F5E794;
	}

}

.tile {
	display: inline-block;
	width: 260px;
	margin: 25px 23px 25px 23px;

	h3 {
		font-size: 22px;
		font-weight: 700;
	}

	p {
		margin: 0;
		font-size: 18px;
	}

	i {
		color: #F5E794;
		font-size: 90px;
		text-shadow: 1px 1px 5px rgba(150, 150, 150, 1);
	}
}

.primary-footer {
	text-align: center;
	background-color: #5191FF;
	padding: 1px;

	h1 {
		margin: 90px 0 25px 0;
		font-size: 55px;
		font-weight: bold;
	}

	span {
		border-color: #fff;
		background-color: transparent;
	}
}

#userProfile > div {
	max-width: 960px;
	margin: auto;
	display: flex;
	min-height: 660px;
}

aside, section {
	margin-top: 20px;
}

aside {
	// background-color: green;
	flex: 1;

	> div:first-child {
		min-height: 500px;
		width: 100%;
		background-color: pink;
	}

	> div:last-child {
		min-height: 160px;
		width: 100%;
		margin-top: 20px;
		background-color: orange
	}
}

aside {
	.user-image {
		height: 250px;
		width: 100%;
		background-color: green;
	}
}

section {
	// background-color: lime;
	flex: 2;
	margin-left: 25px;

	> div:first-child {
		min-height: 250px;
		width: 100%;
		background-color: red;
	}

	> div:last-child {
		min-height: 410px;
		width: 100%;
		margin-top: 15px;
		background-color: black;
	}
}

#payment {
	background-color: red;
	width: 530px;
	height: 430px;
	padding: 1px 35px 0 35px;

	h1, h2 {
		font-size: 25px;
		background-color: pink;
	}
	h2 {
		margin: 0;
		height: 60px;
		padding-top: 15px;
	}

	label {
		font-size: 20px;
		background-color: lime;
	}
	input {
		border-radius: 6px;
		margin-top: 3px;
	}
	span {
		background-color: pink;
		display: block;
		margin: auto;
		width: 80%;
		text-align: center;
		height: 45px;
		margin-top: 20px;
	}
}

.card-image {
	background-color: grey;
	padding: 1px 10px 15px 10px;
}

.card-image .container{
	display: flex;
	margin: 10px 0 15px 0;
	
	div input, label {
		width: 100%;
	}

	div:first-child {
		flex: 7;
		margin-right: 14px;
	}
	div:last-child {
		flex: 2;
	}
}

.card-image div:last-child {
	label {
		display: block;
	}
	input[name="expire-data"] {
		width: 110px;
	}
}