<div class="lightbox">
	<h1>You're almost done...</h1>
	<div class="buttons">
		<button class="payment">Contribute $1</button>
		<span class="divider">or</span>
		<button><a href="/">Return Home</a></button>
	</div>

</div>