<div class="viewport-container">
	<div class="animated slideInLeft" id="contributions">Total Contributions: <span>${{contributions}}<span></div>
	<a href="#mission-statement" class="show-more">See How It Works!</a>
</div>