<header class="primary-header">
	<a href="/#/" class="logo">FlyingChance</a>
	<div id="loggedInUser"> {{{signIn}}}{{{loggedInUser}}}</div>
	<nav class="primary-nav">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Membership</a>
		<a href="#">Testimonials</a>
		<a href="#">FAQ</a>
	</nav>
</header>
