<header class="primary-header">
	<div class="logo">FlyingChance</div>
	<nav class="primary-nav">
		<a href="#">Home</a>
		<a href="#">About</a>
		<a href="#">Membership</a>
		<a href="#">Testimonials</a>
		<a href="#">FAQ</a>
	</nav>
</header>
