<a name="learn-more"></a>
<div class="tiles">
	<div>
		<header class="animated">How it works</header>
		<p class="icon">–––––––– <i class="fa fa-plane"></i> ––––––––</p>
		<h6>Join + contribute to the community, pick your dream desination, and travel the world!.</h6>

		<div class="tile">
			<i class="animated fa fa-users"></i>
			<h3>Congregate</h3>
			<p>Join the 'FlyingChance' community! Login in with your Google+ account, and contribute $1 to be a valid entrant.</p>
		</div>

		<div class="tile">
			<i class="animated fa fa-plane"></i>
			<h3>Travel</h3>
			<p>Entrants will use the above world map to choose their dream destination, and mention the  reason behind their selection.</p>
		</div>

		<div class="tile">
			<i class="animated fa fa-camera-retro"></i>
			<h3>Share</h3>
			<p>Once 'Total Contributions' reach $2,500, one entrant will be randomly selected to travel to their chosen destination.</p>
		</div>

	</div>
</div>

