<h1>What's your Dream travel?</h1>
<div class="button-container">
	<a href="#mission-statement" class="show-more target-anchor">See How It Works!</a>
	<a class="show-more" href="/#/process">Pick one now</a>
</div>	
<div id="mission-statement">
	<div>
		<h1>This is what we do</h1>
		<p>–––––––– <i class="fa fa-plane"></i> ––––––––</p>
		<p>
			We aim to lessen the weight of financial setbacks that prevent world exploration and adventure, by delivering a firm stepping stone towards your first destination, one person at a time.
		</p>
		<a class="learn-more" href="#learn-more"><i class="fa fa-angle-double-down"></i></a>
	</div>
</div>