<div id="payment">
	<div class="amount">
		<h1>$1</h1>
	</div>
	<form action="">
		<h1><i class="fa fa-credit-card"></i>Payment Info</h1>

		<input type="radio" id="mastercard" value="y">
		<label for="mastercard">Mastercard</label>

		<input type="radio" id="visa" value="y">
		<label for="visa">Visa</label>

		<input type="radio" id="amex" value="y">
		<label for="amex">AMEX</label>

		<input type="radio" id="discover" value="y">
		<label for="discover">Discover</label>

		<div class="card-image">

			<h2>
				Credit Card
				<i class="fa fa-cc-mastercard"></i>
				<i class="fa fa-cc-visa"></i>
				<i class="fa fa-cc-amex"></i>
				<i class="fa fa-cc-discover"></i>
			</h2>

			<div class="container">
				<div>
					<label for="credit-card#">Credit Card Number: </label>
					<input type="text" id="credit-card#" name="credit-card#">
				</div>
				<div>
					<label for="cvv">CVV Code: </label>
					<input type="text" id="cvv" name="cvv">
				</div>
			</div>

			<div>
				<label for="expire-data">Expiration Date: </label>
				<input type="text" name="expire-data" placeholder="Month">
				<input type="text" name="expire-data" placeholder="Year">
				<p>Secure <i class="fa fa-lock"></i></p>
			</div>
			
		</div>

		<span id="submit-payment"><i class="fa fa-plane"></i> Submit Contribution</span>
		
	</form>
</div>