<form method="post" id="geocoding_form">
  <label for="address">
    <h1 class="animated fadeInUp">Where do you want to travel?</h1>
    <input id="address" type="text" name="address" placeholder="Search..." />
  </label>
</form>
{{!-- <div class="cover"></div> --}}