<div id="signinButton">
  <span class="g-signin"
    data-scope="https://www.googleapis.com/auth/plus.profile.emails.read"
    data-clientid="1096081615290-9sr52j3uvur2it35urgo487gcvl3vikv.apps.googleusercontent.com"
    data-redirecturi="/auth/google/callback"
    data-accesstype="offline"
    data-cookiepolicy="single_host_origin"
    data-callback="signInCallback">
    Sign in with Google+
  </span>
</div>