<div id="userProfile">
	<div>

		<aside>
			<div>

				<div class="user-image"></div>
				
			</div>
			<div>
				
			</div>
		</aside>

		<section>
			<div>
				
			</div>
			<div>
				
			</div>
		</section>

	</div>
</div>