<div id="primary-message">
	<div>
		<h1>This is what we do</h1>
		<p>–––––––– <i class="fa fa-plane"></i> ––––––––</p>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero consequuntur recusandae quod minima cumque accusamus laudantium rerum!
		</p>
		<a><i class="fa fa-angle-double-down"></i></a>
	</div>
</div>