<div class="tiles">
	<div>
		<header>Some Punchline</header>
		<p class="icon">–––––––– <i class="fa fa-plane"></i> ––––––––</p>
		<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore.</h6>

		<div class="tile">
			<i class="fa fa-users"></i>
			<h3>Congregate</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore.</p>
		</div>

		<div class="tile">
			<i class="fa fa-plane"></i>
			<h3>Travel</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore.</p>
		</div>

		<div class="tile">
			<i class="fa fa-camera-retro"></i>
			<h3>Share</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore.</p>
		</div>

	</div>
</div>
<footer>
	<div>
		<h1>Enter today</h1>
		<button>Sign in with Google+</button>
	</div>
</footer>

