<form method="post" id="why">
  <label for="why">
  	Why, {{destination}}?
    <input id="this_is_why" type="text" name="why" placeholder="I want to travel to {{destination}}, because..." />
    <input type="submit" class="btn" value="Submit" />
  </label>
</form>